/* nyt */


body{
	font-family:sans-serif;
	line-height: 150%;
}
header{
	font-size: 65px;
	text-align: center;
	background:#13314f;
	color: whitesmoke;
	
	height: 75px;
	width:auto;
	margin: 25px;
}

h3{
	background:#13314f;
	color: whitesmoke;
	font-size:25px;
	padding: 15px;

}

#searchFor{
	border: black 2px solid;
}

label{
	font-weight:700;
}

button {
	background: silver;
	border: 2px, gray, solid;
	border-radius: 15px;
	width: 35px;
	height: 30px;

}
